*{
    white-space: nowrap;
}
.formtext{
   position: absolute;
    padding: 25px;
    border-radius: 10px;
overflow: hidden;
    background-color: rgb(255, 255, 255);
    gap: 5px;
    display: flex;
    width: auto;
    z-index: 100;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    overflow: hidden;
    pointer-events: all;
display: flex;
align-items: center;
justify-content: center;
overflow: auto;
overflow-y: auto;
max-height: 1000;    
opacity: 0;

}

.graybackground{
    min-width: 100vw;
min-height: 100vh;
    position: absolute;
    top: 0;
    pointer-events: none;
    }
.fk{
    display: flex;
    flex-direction: row-reverse;
}
.formshowndrag{
    opacity: 1;
}
.formshown{
    transition: all 0.5s ease-out;
    opacity: 1;
}
.fakecontent{
    overflow: hidden;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

display: flex;
align-items: center;
justify-content: center;
padding: 0px 25px 25px 25px;
}
.inputnbutton{
    gap: 10px;
    display: flex;
}
.inputnbutton button{
    background-color: rgb(228, 228, 228);
}

 input{
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 5px 0;

}
select,option {
 
    outline: none;  
    cursor: pointer;
  }
  .notallowed{
    cursor: not-allowed;
  }
  input[type="checkbox"] {
    cursor: pointer;
  }
  input[type="color"] {
        cursor: pointer;
      }
.inputnbutton input:focus{
   
    outline: 2px solid rgb(63, 98, 255);
}
.inputnbutton input::placeholder{
padding-left: 5px;
}
.inputnbutton input{
    padding-left: 5px;
    }
.maintextinput{
    padding: 10px 0px;

}
 button{
    border: 1px solid rgb(194, 194, 194);
    padding: 10px 15px;
gap: 5px;
font-weight: bold;
margin-top: 5px;
    background-color: rgb(218, 218, 218);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
    border-radius: 7px;
}
button:disabled{
    border: 1px solid rgb(194, 194, 194);
    cursor: not-allowed;
    opacity: 0.5;
}
.closelogo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    right: 4px;
width: 20px;
height: 20px;
padding: 3px 3px;
border-radius: 100%;
    color: black;
    background-color: rgba(174, 174, 174, 0);
    transition: all ease 0.3s ;
}
.closelogo:hover{
background-color: rgb(221, 221, 221);
cursor: pointer;
transition: all ease 0.3s ;
}
select{
    width: 15%;
    display: flex;
    padding: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(145, 155, 199);
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: rgb(221, 221, 221);
    
}
option{
    background-color: rgb(255, 255, 255);

}
.fontsizeselect{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}


label{
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
gap: 5px;
}
label select{
   width: 40px;
}
input:disabled,
select:disabled {
    cursor: not-allowed;
    background-color: rgb(152, 152, 152);
}
.checkboxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px;
}
.submitbutton{
    background-color: rgb(0, 75, 236);
    margin: 0px 0px 25px 0px;
    color: rgb(255, 255, 255);
width: 100%;
}
.deletebutton{
    width: 100%;
    border: none;
    color: white;
    background-color: #da2d2a;
    transition: all ease 0.5s;
}
.deletebutton:hover{
    background-color: #e05553;
    transition: all ease 0.5s;
}
.submitbutton:hover{
    background-color: rgb(37, 106, 255);
    transition: 0.5s ease all;
    color: rgb(0, 0, 0);
}
button:disabled:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease all;
    color: rgb(255, 255, 255);  
}
.border{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.bordertitle{
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 10px;
}
.border select{
    width: 70px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.buttonoptions{
    display: flex;
    justify-content: center;
    gap: 16px;
white-space: nowrap;
}
.buttonoptions select{
    width: 70px;
}
.dragabble{
    width: 100%;
    height: 25px;
cursor: grab;
}
