@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Noto+Serif+Oriya:wght@400..700&display=swap");
*{
    box-sizing: border-box;
    perspective: 1000px; 
    font-family: "Afacad Flux", sans-serif;
}
.platform{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
.platformmainpage{
    width: 100%;
    display: flex;
max-width: 100vw;
overflow-x: hidden;
background-color: #000000;
max-width: 1380px;
align-items: center;
flex-direction: column;
}
.container{
    flex-direction: column;
align-items: center;
    height: auto;

    display: flex;
    max-width: 1380px;
    max-width: 100vw;
    padding-bottom: 20px;
    }
.buttons{
    display: none;
}
.maintitle{
    font-size: 70px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.maintitle :nth-child(2){
    margin-top: -30px;
}
.maintitle span{
    font-size: 13px;
    color: rgb(152, 152, 152);
     margin-top: 15px;
     text-align: left;
}
.maintitle button{
    margin-top: 15px;
    background-color: rgb(0, 94, 255);
    padding: 10px 45px;
    border: 0;
    color: white;
}
.maintitle button:hover{
    background-color: rgb(0, 72, 195);
    color: rgb(154, 154, 154);
}

.firstpage {
color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    max-width: 100vw;
    width: 95%;
    display: flex;

    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    margin-top: 5px;
    color: white;

}

.header p{
margin: 0;
font-size: 19px;
font-weight: 400;
}
.logocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 50px;
}
.logocontainer p{
    font-size: 25px;
    margin-bottom: 2px;
}
.logocontainer img{
    width:110px;
    height: auto;
}
        .faqsignin{
            display: flex;
            gap: 5px;
            font-weight: bold;
        }
        .regbutton{
            background-color: rgb(0, 94, 255);
        }
        .faqbutton,.regbutton{
            padding: 10px 20px;
            margin: 5px 0;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease all;
        }
.faqbutton:hover{
color: rgb(154, 154, 154);
        }
        .regbutton:hover{
            background-color: rgb(0, 81, 222);
            color: rgb(154, 154, 154);
        }
        .templatesfirst{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .templatesfirst span{
            text-decoration: underline;
            cursor: pointer;
        }
        .templatesfirst p{
            font-size: 25px;
        }
        .templatesmainpage{
            width: 100%;
            padding: 0 55px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
        }
        .templatescontainer{
            display: flex;
            width: 100%;
            padding: 0 15px;
            gap: 15px;
            margin-top: 15px;
            display: flex;

        }
        .template{
            width: 400px;
            height: 200px;
            border-radius: 16px;
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
overflow: hidden;
        }
        .template:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #ff7e5f, #feb47b);
            transition: all ease 0.5s;
        }
        .template:hover::after{
            filter: blur(10px);
            transition: all ease 0.5s;
            cursor: pointer;
        }
        .template p{
            opacity: 0;
            transform: translateZ(0px) rotate(7deg);
            cursor: pointer;
            font-weight: bolder;
        }
        .template:hover p{
            opacity: 1;
            transform: translateZ(400px) rotate(0deg);
        }
      .secondpage{
        background-color: white;
        margin-top: 100px;
        height: 200vh;
        display: flex;
      }
      .maintextsecondpage{
        width: 100%;
        padding: 0 100px;
        margin-top: 110px;
        font-size: 50px;
font-weight: bolder;
      }
      .sectionssecondpage{
        width: 100%;
        padding: 0 100px;
        margin-top: 110px;
        display: flex;
        align-items: center;
        gap: 150px;
      }
.section{
font-size: 26px;
display: flex;
flex-direction: column;
gap: 10px;
width: 250px;
height: 180px;
justify-content: flex-start;
}
.section span{
    font-weight: 600;
    transition: all 0.5 ease;
}
.section p {
    color: rgb(163, 163, 163);
    font-size: 18px;
}
.section p span{

font-weight: 500;
}
.section:hover p{
color: black;
cursor: default;
font-weight: bold;
}
.section:hover span{
    color: black;
    cursor: default;
    font-weight: bolder;
    transition: all 0.5 ease;
    }