.signinpage{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.registerside{
    width: 50%;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.passemailsentside{
    width: 50%;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
padding-top: 100px;
    gap: 5px;
}
.designside{
    width: 50%;
    height: 100%;
    background-color: rgb(176, 176, 176);
}
.registerside h1{
    color: white;
    font-family: "Afacad Flux", sans-serif;
    margin-top: 25px;
}
.passemailsentside h1{
    color: white;
    font-family: "Afacad Flux", sans-serif;
    margin-top: 25px;
}

.registerside img{
width: 50px;
height: auto;
margin-top: -25px;
}
.passemailsentside img{
    width: 50px;
    height: auto;
    margin-top: -25px;
    }
.registerside input{
    width: 350px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
}

.registerside button{
    width: 350px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    font-size: 18px;
    border: none;
    transition: all 0.3s ease;
}
.passemailsentside button{
    width: 350px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    font-size: 18px;
    border: none;
    transition: all 0.3s ease;
}
.registerside button:hover,.passemailsentside button:hover{
    background-color: rgb(223, 223, 223);
    transition: all 0.3s ease;
}
.registerside p{
    color: white;
    margin-top: 30px;

}
.registerside span{
font-weight: bold;
cursor: pointer;
}
.registerside input::placeholder{
color: rgb(164, 164, 164);
}
.registerside input:focus{
    background-color: white;
    background-color: rgb(33, 33, 33);
}
.googlesignin{
    display: flex;
    color: white;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 10px;
height: 40px;
    border-radius: 100px;
    transition: all 0.3s ease;
    background-color: white;
    color: black;
    font-size: 14px;
}
.googlesignin h2{
    font-weight: 400;
}
.applesignin{
    color: white;
    background-color: #0866ff;
    margin-top: 5px;
}
.googlesignin:hover{
    background-color: rgb(186, 186, 186);
    cursor: pointer;
    transition: all 0.3s ease;
}
.applesignin:hover{
    background-color: #0051d3;
    
}
.googlesignin img{
    width: auto;
height: 30px;
margin: 0;
}

.or{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin: 20px 0;
}
.or::before{
    content: "";
    width: 47%;
    border-top: 1px solid rgba(255, 255, 255, 0.311);
}
.or::after{
    content: "";
    width: 47%;
    border-top: 1px solid rgba(255, 255, 255, 0.311);
}
.visibleicon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
}
.emailinvalid{
    color: red;
    width: 350px;
    display: flex;
    align-items: center;
}
.promocontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
flex-direction: column;
    margin-top: 40px;
    cursor: pointer;
    font-size: 14px;
}
.promo span{
 font-weight: 400;
 font-size: 18px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.promoinputbutton{
    display: flex;
}
.confirmpage{
    background-color: black;
    display: flex;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    color: white;
    flex-direction: column;
    text-align: center;
}
.not{
    color: white;
margin-top: 10px;
}
.emailicon{
    font-size: 200px;
    width: 250px;
    display: flex;
    
}
.confirmpage h1{
    font-family: "Afacad Flux", sans-serif;
    font-size: 60px;
    margin: 0;
}
.confirmemailbutton{
background-color: rgb(0, 94, 255);
border: none;
border-radius: 100px;
    width: 120px;
    height: 38px;
    color: white;
    margin-top: 30px;
}
.confirmemailbutton:hover{
    background-color: rgb(0, 79, 215);
        color: white;
    }
.forgotpass{
    text-decoration: underline;
    cursor: pointer;
}
.otheroptions{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.registerpage{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.messages{
    font-weight: 400;
    color: rgb(216, 206, 65);
}
.registerside h4,h1{
    margin: 0;
}
h3{
    text-align: center;
    font-weight: 200;
}
h3 span{
    font-weight: bold;
}
.buttonspassemailsent{
    display: flex;
    gap: 20px;
}
.buttonspassemailsent button{
    width: 150px;
font-size: 20px;
}
.promo input{
    width: 150px;
    padding: 5px;
background-color: white;
border-radius: 10px 0 0 10px;
}
.promo input:focus{
    outline: none;
}
.promo button{
    padding: 5px;
    margin: 0;
    border: none;
    width: 50px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    background-color: #005eff;
text-decoration: none;
    color: white;
}